@import "../../styles/colors.scss";

$font_size: 30px;
:host {
    font-size: $font_size;
}

select {
    font-size: $font_size;
    background-color: $dark_background_color;
    color: $foreground_color;
}