@import "../styles/colors.scss";

:host{
    background-color: $background_color;
    color: $foreground_color;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    display: flex;
    padding: 15px;
    background-color: $dark_background_color;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  

    a, a:visited, a:active {
        color: $foreground_color;
        text-decoration: none;
        margin: 0 15px;
        &.activeLink {
            border-bottom: 2px solid $active_link;
        }
    }
}

.outlet-container {
    flex-grow: 1;
    display: flex;
    padding: 25px;
}